# Maven
target/


# Eclipse files
.classpath
.project
.settings
/workspace/

# IntelliJ Idea files
*.idea
*.iml
*.ipr
*.iws

# Mac
**/.DS_Store

# Test remnants
.mule/
*.factorypath
*.h2.db
*.log
activemq-data/
aux/
hostkey.ser
muleEmbeddedDB/
objectstore/
temp/
testdir/
